*::before, *, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /*  Primary Colors  */
  --brightOrange: hsl(31, 77%, 52%);
  --darkCyan: hsl(184, 100%, 22%);
  --veryDarkCyan: hsl(179, 100%, 13%);

  /*  Neutral Colors  */
  --veryLightGray: hsl(0, 0%, 95%);
  --transparentWhite: hsla(0, 0%, 100%, 0.75);
}

body {
  font-size: 15px;
  background-color: white;
  width: 100vh;
  height: auto;
  position: relative;
}

header, footer {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

main {
  display: flex;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 920px;

}

main section {
  padding: 5%;
}

.section-title {
  text-transform: uppercase;
  color: var(--veryLightGray);
  font-family: 'Big Shoulders Display', cursive;
  font-weight: 700;
  font-size: 2rem;
  margin-top: 37.5%;
}

.section-title + p {
  font-family: 'Lexend Deca', sans-serif;
  color: var(--transparentWhite);
}

.sedan {
 --mainColor: var(--brightOrange);
  background: var(--mainColor) url(images/icon-sedans.svg) no-repeat 20% 20%;
}

.suv {
 --mainColor: var(--darkCyan);
  background: var(--mainColor) url(images/icon-suvs.svg) no-repeat 20% 20%;
}

.luxury {
 --mainColor: var(--veryDarkCyan);
  background: var(--mainColor) url(images/icon-luxury.svg) no-repeat 20% 20%;
}
